In [6]:
#Functions

#Area func with para and without return
def area_c(r):
    area =3.14*r**2
    print(area)
area_c(24)

1808.64

In [9]:

#Area func without para and with return
def area_c():
    r=int(input())
    area =3.14*r**2
    return area
area_c()

1808.64

In [13]:
#Area func without para and without return
def area_c():
    r=int(input())
    area =3.14*r**2
    print(area)
area_c()

1808.64

In [14]:
#Area func with para and with return
def area_c(r):
    area =3.14*r**2
    return area
a=area_c(24)
print(a)

1808.64

In [23]:
#without para and without return
def SI():
    si=[]
    name=['Nikhil','Anand','Shiva','Maga','ram']
    pr=[1000,2000,6000,10000,2500]
    year=[2,5,4,3,2.5]
    rt=[8,7,7.5,9,6.6]
    for i in range(len(name)):
        s=(pr[i]* rt[i]*year[i])/100
        si.append(s)
    for j in range(len(name)):
        print("name ", name[j],"invested",pr[j]," got a return of ", si[j])

SI()

name  Nikhil invested 1000  got a return of  160.0
name  Anand invested 2000  got a return of  700.0
name  Shiva invested 6000  got a return of  1800.0
name  Maga invested 10000  got a return of  2700.0
name  ram invested 2500  got a return of  412.5

In [59]:
#without para and with return
def SI():
    si=[]
    name=['Nikhil','Anand','Shiva','Maga','ram']
    pr=[1000,2000,6000,10000,2500]
    year=[2,5,4,3,2.5]
    rt=[8,7,7.5,9,6.6]
    for i in range(len(name)):
        s=(pr[i]* rt[i]*year[i])/100
        si.append(s)
        return si
    b=SI()
    for j in range(len(name)):
       print( "name ", name[j],"invested",pr[j]," got a return of ", b[j])

SI()

[160.0]

In [33]:
#with para and with return
def SI(x,y,z,a):
 si=[]
   
 for i in range(len(name)):
    s=(pr[i]* rt[i]*year[i])/100
    si.append(s)
 return si 
name=['Nikhil','Anand','Shiva','Maga','ram']
pr=[1000,2000,6000,10000,2500]
year=[2,5,4,3,2.5]
rt=[8,7,7.5,9,6.6]
b=SI(name,pr,year,rt)
for j in range(len(b)):
    print( "name ", name[j],"invested",pr[j]," got a return of ", b[j])

name  Nikhil invested 1000  got a return of  160.0
name  Anand invested 2000  got a return of  700.0
name  Shiva invested 6000  got a return of  1800.0
name  Maga invested 10000  got a return of  2700.0
name  ram invested 2500  got a return of  412.5

In [35]:
#with para and without return
def SI(x,y,z,a):
 si=[]
   
 for i in range(len(name)):
    s=(pr[i]* rt[i]*year[i])/100
    si.append(s)
 for j in range(len(name)):
    print( "name ", name[j],"invested",pr[j]," got a return of ", si[j])

name=['Nikhil','Anand','Shiva','Maga','ram']
pr=[1000,2000,6000,10000,2500]
year=[2,5,4,3,2.5]
rt=[8,7,7.5,9,6.6]
SI(name,pr,year,rt)

name  Nikhil invested 1000  got a return of  160.0
name  Anand invested 2000  got a return of  700.0
name  Shiva invested 6000  got a return of  1800.0
name  Maga invested 10000  got a return of  2700.0
name  ram invested 2500  got a return of  412.5

In [37]:
#variable lenght arguments (*)
def data(*a):
    print(a)
    marks=a[3]
    print(sum(marks))
data(12,'name','asd',[50,60,70,80,90])

(12, 'name', 'asd', [50, 60, 70, 80, 90])
350

In [48]:
#variable lenght keyword arguments (**)
def data(**a):
    print(a)
    b=a['marks']
    print(sum(b))
data(age=12,name='name', school='asd', marks=[50,60,70,80,90])

{'age': 12, 'name': 'name', 'school': 'asd', 'marks': [50, 60, 70, 80, 90]}
350

In [50]:
#variable lenght arguments (*)
def data(name,sec,*a):
    print(name)
    print(a)

data('nam','A','asd',[50,60,70,80,90])

nam
('asd', [50, 60, 70, 80, 90])

In [56]:
# positionaal only parameters. Only after '/' you can give position not before the '/' 
def num(a,b,/,c,d):
    print(a,b,c,d)
    return a+b+c+d
a=num(1,2,c=3,d=4)
a

1 2 3 4

10

In [60]:
# positionaal only parameters.  after '*' shoud be in keyword 
def num(a,b,*,c,d):
    print(a,b,c,d)
    return a+b+c+d
a=num(1,2,c=3,d=4)
a

1 2 3 4

10

In [1]:
''' define a function process_data that:
accepts a mandatory operation argument (e.g., "sum" or "products")
takes any number of integers using *args.
uses keyword-only arguments for start_value (default 0) and
factor (default 1) to modify the final result.'''

# it should ask the user whether want to add or product and it will save in operation. *a it will take all the values.
 
def OP(operation,*a):
    s=0
    p=1
    if operation == 'add':
        for i in a:
            s=s+i
        return s
    else:
        for i in a:
          p=p*i
        return p
    
OP('add',5,2,4,5,6)

22

In [3]:
''' define a function process_data that:
accepts a mandatory operation argument (e.g., "sum" or "products")
takes any number of integers using *args.
uses keyword-only arguments for start_value (default 0) and
factor (default 1) to modify the final result.'''

# it should ask the user whether want to add or product and it will save in operation. *a it will take all the values.
 
def OP(operation,*args,start_value=0,factor=1):
  
    if operation == 'sum':
       r=sum(args) + start_value
    elif operation == 'product':
       r= start_value
       for i in args:
          r *=i
    else:
        raise ValueError("INVAILD")
    return r*factor
print(OP("sum",1,2,3,start_value=5,factor=2))
print(OP("product",2,3,4,start_value=1,factor=3))

22
72

In [83]:
#recursion()


def fact(n):
    if n==1 :
        return 1
    else:
        return n* fact(n-1)
def fact(n):
    if n==1:
        return 1
    else:
        return n * fact(n-1)
def fact(n):
    if n == 1:
        return 1
    else:
        return n * fact(n-1)
x=fact(3)
print(x)

6

In [89]:
#recursion() - with parameter and with


def fact(n):
    if n==1 :
        return 1
    else:
        return n + fact(n-1)
def fact(n):
    if n==1:
        return 1
    else:
        return n + fact(n-1)
def fact(n):
    if n == 1:
        return 1
    else:
        return n +  fact(n-1)
x=fact(10)
print(x)

55

In [92]:
def fact(x):
    if x == 1:
        return 1
    else:
        return (x*fact(x-1))
num=6
print("the factorial of ",num,"is",fact(num))

the factorial of  6 is 720

In [4]:
s=0
def fun(n):
    if n==0:
        return 0
    else:
        return (n%10 + fun(int(n/10)))
    
r=fun(1234)
print(r)

10

In [8]:
# nested function OR Closure
 
def calculate():
    num =1
    def inner_func():
        nonlocal num
        num +=2
        return num
    return inner_func
#call the outer function
odd = calculate()
 
#call the inner function
print(odd()) #3
print(odd()) #5
print(odd()) #7


 
#call the outer function again
odd2 = calculate()
print(odd2()) #3

3
5
7
3

In [113]:
def get_math(operation):
    def add(a,b):
        return a+b
    def sub(a,b):
        return a-b
    def mul(a,b):
        return a*b
    def div(a,b):
        return a/b if b!=0 else "Cannot divide by zero"
    if operation == "add":
        return add
    elif operation == "subtract":
        return sub
    elif operation == "multiply":
        return mul
    elif operation == "divide":
        return div
    else:
        raise ValueError("Invalid operation ")
adder= get_math("add")
print(adder(10,5)) 
sub= get_math("subtract")
print(sub(10,5)) 
mul= get_math("multiply")
print(mul(10,2)) 
div= get_math("divide")
print(div(10,2))

15
5
20
5.0

In [114]:
def my_decorator(func):
    def wrapper():
        print("Before the function")
        func()
        print("After the function")
        func()
    return wrapper #calling the wrapper function
@my_decorator
def say_hello():
    print("Hello!!")
say_hello()

Before the function
Hello!!
After the function
Hello!!

In [119]:
def decor1(func):
    def inner():
        x=func() 
        return x * x #20 * 20
    return inner
def decor(func):
    def inner():
        x=func() #10
        return 2 * x #20
    return inner

@decor1
@decor
def num():
    return 10
@decor
@decor1
def num2():
    return 10
print(num())
print(num2())

400
200

In [122]:
def make_timer():
    count=0
    def timer(func):
        def wrapper():
            nonlocal count
            count +=1
            print(f"Function {func.__name__} called {count} times")
            return func()
        return wrapper
    return timer

timer = make_timer()

@timer
def greet():
    print("Hello!")

greet()
greet()

Function greet called 1 times
Hello!
Function greet called 2 times
Hello!

In [132]:
#yield - generator. this generator will store the all the values and we have to give any 
r=[1,2,3,4,5]
def area(r):
    for i in r:
        a=3.14*i**2
        yield a
s=area(r)
list(s)

[3.14, 12.56, 28.26, 50.24, 78.5]

In [143]:
l=[1,2,3,4,5,6,7,8]

def area(r):
    for i in r:
        if i%2==0:
            yield i
       
s=area(l)
tuple(s)

(2, 4, 6, 8)

In [147]:
def fun():
    yield 'hello'
    yield 'world'
for i in fun():
    print(i)

hello
world

In [60]:
# #find factors of a number

# n=int(input())

# for i in range(0,11):
#     if n%i==0:
#         print(n,"is divisible by", i)

    
n = int(input())
def cou(n):
    for i in range(1,n+1):
        if n%i==0:
            yield i
print(list(cou(n)))

[1, 3]

In [169]:
n = int(input())
def cou(n):
    for i in range(1,n+1):
        if i%2==0:
            yield -i
        else:
            yield i
       
print(list(cou(n)))

[1, -2, 3, -4, 5, -6, 7, -8, 9, -10]

In [170]:



def qua(item,quality,discount=0,tax_rate=5):
   total=(item * quality)*(1-discount)*(1+tax_rate)
   return total

print(qua(200 ,1,discount=0,tax_rate=5))

1200

In [172]:
double=lambda x,y,z:x*2+y*3+z
double(100,50,10)

360

In [176]:
s=lambda a,b:a if a>b else b
s(10,20)

20

In [178]:
p=lambda x,y:x**y
p(2,3)

8

In [194]:
c=lambda x: x if x <0  else '-'+str(x)
c(1)

'-1'

In [204]:
m=lambda l,n:[x * n for x in l]
r=m([1,2,3],3)
r

[3, 6, 9]

In [207]:
m= lambda s,n:s[:n]
r=m('python',3)
print(r)

pyt

In [209]:
m=lambda p:p == p[::-1]
a=m('radar')
print(a)

True

In [223]:
val=lambda l,n: [x for x in l if x>n ]
a=val([1,4,8,3,7,1,2,5,10],7)
print(a)

[8, 10]

In [225]:
a= lambda x: 1 if x==1 else x*fact(x-1)
a=fact(5)
a

120

In [267]:
y= lambda year: (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)
year=y(2024)
print(year)

True

In [269]:
#vowels
vcount=lambda a: sum(1 for i in a if i in 'aeiouAEIOU')
vcount('hello')

2

In [272]:
#count
uc=lambda a: sum(1 for i in a if i.isupper())
a=uc('aBcDCrl')
print(a)

3

In [290]:
#lis([1,2,3],[4,5,6])
val=lambda l,n: [x for x in l if x in n]
a=val([1,2,3],[4,2,6])
print(a)

[2]

In [294]:
#digits 
m = lambda s: [int(i) for i in s if i.isdigit()]
a= m('abc123xyz456')
print(a)

[1, 2, 3, 4, 5, 6]

In [9]:
#fibbonic
m= lambda 
a=m(5)
print(a)

SyntaxError: invalid syntax (2667652828.py, line 2)

In [12]:
set1={4,'v',6.9,4.0,'e'}
set1

{4, 6.9, 'e', 'v'}

In [13]:
set1=[4,'v',6.9,4.0,'e']
set1

[4, 'v', 6.9, 4.0, 'e']

In [21]:
{1,2,3,4}=={1,4,3,2}

True

In [23]:
{1,2,3,4}=={1,2,3,'4'}

False

In [30]:
set1 = set()
set1.update([1],[ 2])
print(set1)

{1, 2}

In [33]:
set1={1,5,3,0,10,52}
print(set1.remove(5))
set1

None

{0, 1, 3, 10, 52}

In [34]:
set1={1,5,3,0,10,52}
print(set1.remove('5'))
set1

KeyError: '5'

In [46]:
set2={'b','a','t'}
set1={'a','b','c'}
print(set1)
set2
x = set1.intersection(set2)
x

{'b', 'c', 'a'}

{'a', 'b'}

In [47]:
set1={1,0.2,3.4,9}
set2={4.2,6.3}
print(set1+set2)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [55]:
def gen():
    for i in range(3):
       yield i 
       print(i)

In [56]:
gen()

In [ ]:
x = 10
for i in range(x):
    yield i