In [2]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: mysql-connector-python in c:\users\shivanika.x\appdata\roaming\python\python312\site-packages (9.1.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import mysql.connector

mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root@39'
)
mycursor=mydb.cursor() #It wil navigate to my sql workbench
mycursor.execute('CREATE DATABASE shop') # to use any sql query's use execute

In [5]:
mycursor.execute('SHOW DATABASES')
for x in mycursor:
    print(x)

('car_rental_system',)
('classicmodels',)
('cooking',)
('delivery_partner',)
('information_schema',)
('movie',)
('mphasis',)
('mysql',)
('performance_schema',)
('shop',)
('supermarket',)
('sys',)
('whatscooking',)

In [6]:
mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root@39',
    database='shop'
)
mycursor=mydb.cursor() #It wil navigate to my sql workbench
mycursor.execute('CREATE TABLE customers (name VARCHAR(225),address VARCHAR(225))') # creating a table using execute
print('table created')

table created

In [7]:
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [8]:
sql="INSERT INTO customers (name,address) VALUES (%s,%s)"
val=("John", "Highway 21")
mycursor.execute(sql,val)
mydb.commit()
print(mycursor.rowcount,"record inserted.")

1 record inserted.

In [9]:
sql="INSERT INTO customers (name,address) VALUES (%s,%s)"
val=[
    ('peter','Lowstreet 4'),
    ('Amy','Apple st 652'),
    ('Hannah','Mountain 21'),
    ('Michale','Valley 345'),
    ('Betty','Green Grass 1')
]

mycursor.executemany(sql,val) # to insert more than one record use executemany

mydb.commit()

print(mycursor.rowcount,"was inserted.")

5 was inserted.

In [12]:
mycursor.execute("SELECT * FROM customers")

print(mycursor)


myresult = mycursor.fetchall() #fetchall to fetch multiple rows. fetch for single row.
print(myresult)
for x in myresult:
    print(x)

MySQLCursor: SELECT * FROM customers
[('John', 'Highway 21', 1), ('peter', 'Lowstreet 4', 2), ('Amy', 'Apple st 652', 3), ('Hannah', 'Mountain 21', 4), ('Michale', 'Valley 345', 5), ('Betty', 'Green Grass 1', 6)]
('John', 'Highway 21', 1)
('peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michale', 'Valley 345', 5)
('Betty', 'Green Grass 1', 6)

In [13]:
sql="SELECT * FROM customers WHERE address='Valley 345'"
mycursor.execute(sql)
myresult=mycursor.fetchall()

for x in myresult:
    print(x)

('Michale', 'Valley 345', 5)

In [17]:
# TO DELETE A RECORD

sql="DELETE FROM customers WHERE address='Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [18]:
#UPDATE

sql="UPdate customers SET address='Canyon 123' WHERE address='Highway 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [52]:
import mysql.connector
class workbench:
    def __init__(self):
            self.mydb=mysql.connector.connect(
            host='localhost',
            user='root',
            password='root@39',
            database='sql_workbench'

        )
            self.mycursor=self.mydb.cursor() #It wil navigate to my sql workbench
    def Table(self):
        self.mycursor.execute('CREATE TABLE Students (id INT AUTO_INCREMENT PRIMARY KEY,Student_name VARCHAR(225),address VARCHAR(225))') # creating a table using execute
        print('table created')
    def Insert(self,val):
        sql="INSERT INTO Students (Student_name,address) VALUES (%s,%s)"
        # val=[
        #         ('peter','Lowstreet 4'),
        #         ('Amy','Apple st 652'),
        #         ('Hannah','Mountain 21'),
        #         ('Michale','Valley 345'),
        #         ('Betty','Green Grass 1')
        #     ]
        self.mycursor.execute(sql,val) # to insert more than one record use executemany
        self.mydb.commit()
        print(self.mycursor.rowcount,"was inserted.")

    def Update(self,a,b):
         sql=f"UPdate Students SET address='{a}' WHERE address='{b}'"

         self.mycursor.execute(sql)
         self.mydb.commit()
         print(self.mycursor.rowcount, "record(s) affected")
    
    def Delete(self,val):
        sql=f"DELETE FROM Students WHERE address='{val}'"
        self.mycursor.execute(sql)
        self.mydb.commit()
        print(self.mycursor.rowcount, "record(s) deleted")
                
obj=workbench()
#obj.Table()
#obj.Insert(('peter','Lowstreet 4')) 
obj.Update("bigstreet","Valley 345")  
#obj.Delete(("Lowstreet 4"))

1 record(s) affected

In [15]:
import mysql.connector
class workbench:
    def __init__(self):
            self.mydb=mysql.connector.connect(
            host='localhost',
            user='root',
            password='root@39',
            database='supermarket'

        )
            self.mycursor=self.mydb.cursor()
            print("connected")

    def aggtable(self,val):
        sql=f"select sum({val}) from product"
        self.mycursor.execute(sql)
        res=self.mycursor.fetchone()
        print(res[0])

    def avgtable(self,val):
        sql=f"select avg({val}) from product"
        self.mycursor.execute(sql)
        res=self.mycursor.fetchone()
        print(res[0])
    
    def counttable(self,val):
        sql=f"select count({val}) from product"
        self.mycursor.execute(sql)
        res=self.mycursor.fetchone()
        print(res[0])

db=workbench()
db.aggtable('UnitPrice')
db.avgtable('UnitPrice')
db.counttable('UnitPrice')

connected
1950.00
278.571429
7

In [16]:
pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Collecting pymongo
  Downloading pymongo-4.10.1-cp312-cp312-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp312-cp312-win_amd64.whl (926 kB)
   ---------------------------------------- 0.0/926.7 kB ? eta -:--:--
   --------- ------------------------------ 225.3/926.7 kB 6.9 MB/s eta 0:00:01
   ---------------------- ----------------- 532.5/926.7 kB 6.7 MB/s eta 0:00:01
   ------------------------------------- -- 870.4/926.7 kB 6.9 MB/s eta 0:00:01
   ---------------------------------------  921.6/926.7 kB 7.3 MB/s eta 0:00:01
   ---------------------------------------  921.6/926.7 kB 7.3 MB/s eta 0:00:01
   ---------------------------------------- 926.7/926.7 kB 4.2 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ---------------------------------------- 0.0/313.6 kB ? eta -:--:--
   ---------------------------------------  307.2/313.6 kB 9.6 MB/s eta 0:00:01
   ---------------------------------------- 313.6/313.6 kB 3.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
from pymongo import MongoClient
from bson.objectid import ObjectId
from bson import SON

client=MongoClient('localhost',27017)

#Creating new database
db=client.newdb

#creating Collection (table)
people=db.people

#inseting records
# people.insert_one({'name':'john','age':20})
# people.insert_one({'name':'lisa','age':30,'interests':['books','movies']})
# people.insert_one({'name':'john','age':60})
# people.insert_one({'name':'mike','age':20})
# people.insert_one({'name':'lisa','age':23,'interests':['books','movies']})


for person in people.find():
    print(person)

#catching the id generator in mongodb for mike
#mike_id=people.insert_one({'name':'max','age':35}).inserted_id
#print(mike_id)

# print([p for p in people.find({'_id':ObjectId('67779dbcc744306609d1543d')})])
# print('---------------------------------------------------')
#print([p for p in people.find({'age':{'$lt':30}})]) #$lt-less than

#count
# print('LISA COUNT')
# print(people.count_documents({'name':'lisa'}))

#update
#people.update_one({'_id':ObjectId('67779d2bc744306609d1543b')},{'$set':{'age':100}})

#delete
#people.delete_many({'age':{'$lt':23}})

#delete
#people.delete_many({'age':{'$lt':25}})

#group by and aggregate
pipeline=[
    {
        '$group':{
            '_id':'$name',
            'averageAge':{'$avg':'$age'}
        }
    },
    {
        '$sort':SON([('averageAge',-1)]) # 1 is acending, -1 is descending
    }

]
results=people.aggregate(pipeline)
for result in results:
    print(result)

{'_id': ObjectId('67779c48c744306609d15431'), 'name': 'lisa', 'age': 30, 'interests': ['books', 'movies']}
{'_id': ObjectId('67779c48c744306609d15432'), 'name': 'john', 'age': 60}
{'_id': ObjectId('67779c48c744306609d15434'), 'name': 'lisa', 'age': 23, 'interests': ['books', 'movies']}
{'_id': ObjectId('67779d2bc744306609d15437'), 'name': 'lisa', 'age': 30, 'interests': ['books', 'movies']}
{'_id': ObjectId('67779d2bc744306609d15438'), 'name': 'john', 'age': 60}
{'_id': ObjectId('67779d2bc744306609d1543a'), 'name': 'lisa', 'age': 23, 'interests': ['books', 'movies']}
{'_id': ObjectId('67779d2bc744306609d1543b'), 'name': 'mike', 'age': 100}
{'_id': ObjectId('67779dbcc744306609d1543d'), 'name': 'max', 'age': 35}
{'_id': 'mike', 'averageAge': 100.0}
{'_id': 'john', 'averageAge': 60.0}
{'_id': 'max', 'averageAge': 35.0}
{'_id': 'lisa', 'averageAge': 26.5}

In [34]:
from pymongo import MongoClient

#Connect to MONGODB

cilent=MongoClient('mongodb://localhost:27017')
#specify the database and collections
db=client['newdb']
collection=db['people']

In [36]:
#Insert a single document
document={
    "name":"Sanjana",
    "age":50,
    "city":"New york"
}

result=collection.insert_one(document)
print(f"Inserted document ID:{result.inserted_id}")

Inserted document ID:6777a5f1c744306609d1544c

In [39]:
#Insert a multiple documents
documents=[{
    "name":"Shivani",
    "age":16,
    "city":"Paris"
},{
    "name":"Haritha",
    "age":40,
    "city":"chicago"
}]

result=collection.insert_many(documents)
print(f"Inserted document IDs:{result.inserted_ids}")

Inserted document IDs:[ObjectId('6777a69ec744306609d1544d'), ObjectId('6777a69ec744306609d1544e')]

In [43]:
# find one document with specific criteria
document = collection.find_one({"name":"Shivani"})
print(document)

{'_id': ObjectId('6777a69ec744306609d1544d'), 'name': 'Shivani', 'age': 16, 'city': 'Paris'}

In [45]:
#find all documents in the collection

documents = collection.find()
for doc in documents:
    print(doc)

{'_id': ObjectId('67779c48c744306609d15431'), 'name': 'lisa', 'age': 30, 'interests': ['books', 'movies']}
{'_id': ObjectId('67779c48c744306609d15432'), 'name': 'john', 'age': 60}
{'_id': ObjectId('67779c48c744306609d15434'), 'name': 'lisa', 'age': 23, 'interests': ['books', 'movies']}
{'_id': ObjectId('67779d2bc744306609d15437'), 'name': 'lisa', 'age': 30, 'interests': ['books', 'movies']}
{'_id': ObjectId('67779d2bc744306609d15438'), 'name': 'john', 'age': 60}
{'_id': ObjectId('67779d2bc744306609d1543a'), 'name': 'lisa', 'age': 23, 'interests': ['books', 'movies']}
{'_id': ObjectId('67779d2bc744306609d1543b'), 'name': 'mike', 'age': 100}
{'_id': ObjectId('67779dbcc744306609d1543d'), 'name': 'max', 'age': 35}
{'_id': ObjectId('6777a5ebc744306609d1544b'), 'name': 'Sanjana', 'age': 50, 'city': 'New york'}
{'_id': ObjectId('6777a5f1c744306609d1544c'), 'name': 'Sanjana', 'age': 50, 'city': 'New york'}
{'_id': ObjectId('6777a69ec744306609d1544d'), 'name': 'Shivani', 'age': 16, 'city': 'Paris'}
{'_id': ObjectId('6777a69ec744306609d1544e'), 'name': 'Haritha', 'age': 40, 'city': 'chicago'}

In [47]:
#Find all documents Where age is greater than 30

pipeline=[
    {"$match":{"age":{"$gt":30}}} #$gt - greater
]

result=collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': ObjectId('67779c48c744306609d15432'), 'name': 'john', 'age': 60}
{'_id': ObjectId('67779d2bc744306609d15438'), 'name': 'john', 'age': 60}
{'_id': ObjectId('67779d2bc744306609d1543b'), 'name': 'mike', 'age': 100}
{'_id': ObjectId('67779dbcc744306609d1543d'), 'name': 'max', 'age': 35}
{'_id': ObjectId('6777a5ebc744306609d1544b'), 'name': 'Sanjana', 'age': 50, 'city': 'New york'}
{'_id': ObjectId('6777a5f1c744306609d1544c'), 'name': 'Sanjana', 'age': 50, 'city': 'New york'}
{'_id': ObjectId('6777a69ec744306609d1544e'), 'name': 'Haritha', 'age': 40, 'city': 'chicago'}

In [49]:
#group
#group by city and calculate the total age for each city
pipeline = [
    {"$group": {"_id": "$city", "total_age": {"$sum": "$age"}}}
]
result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': 'Paris', 'total_age': 16}
{'_id': 'chicago', 'total_age': 40}
{'_id': 'New york', 'total_age': 100}
{'_id': None, 'total_age': 361}

In [51]:
#count the number of people in each city
pipeline = [
    {"$group": {"_id": "$city", "count": {"$sum": 1}}} # $id here id is like to select the cloumn so here we are selecting the city column
]
result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': None, 'count': 8}
{'_id': 'Paris', 'count': 1}
{'_id': 'chicago', 'count': 1}
{'_id': 'New york', 'count': 2}

In [53]:
#with two query group and sort
pipeline = [
    {"$group": {"_id": "$city", "total_age":{"$sum": "$age"}}}, # $id here id is like to select the cloumn so here we are selecting the city column
    {"$sort":{"total_age":-1}}# descending order (-1)
]
result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': None, 'total_age': 361}
{'_id': 'New york', 'total_age': 100}
{'_id': 'chicago', 'total_age': 40}
{'_id': 'Paris', 'total_age': 16}

In [61]:

pipeline = [
    {"$project":{"name":1,"city":1,"_id":0}} #Project is to select the column and it will display the column and you can't give 0 for columns but for Id alone we can give 0.
]
result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'name': 'lisa'}
{'name': 'john'}
{'name': 'lisa'}
{'name': 'lisa'}
{'name': 'john'}
{'name': 'lisa'}
{'name': 'mike'}
{'name': 'max'}
{'name': 'Sanjana', 'city': 'New york'}
{'name': 'Sanjana', 'city': 'New york'}
{'name': 'Shivani', 'city': 'Paris'}
{'name': 'Haritha', 'city': 'chicago'}

In [66]:
# get the first 3 documents with a specified limit
pipeline=[
    {"$limit":3}
]
result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': ObjectId('67779c48c744306609d15431'), 'name': 'lisa', 'age': 30, 'interests': ['books', 'movies']}
{'_id': ObjectId('67779c48c744306609d15432'), 'name': 'john', 'age': 60}
{'_id': ObjectId('67779c48c744306609d15434'), 'name': 'lisa', 'age': 23, 'interests': ['books', 'movies']}

In [68]:
pipeline=[
    {"$addFields":{"is_adult":{"$gte":["$age",18]}}}
]
result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': ObjectId('67779c48c744306609d15431'), 'name': 'lisa', 'age': 30, 'interests': ['books', 'movies'], 'is_adult': True}
{'_id': ObjectId('67779c48c744306609d15432'), 'name': 'john', 'age': 60, 'is_adult': True}
{'_id': ObjectId('67779c48c744306609d15434'), 'name': 'lisa', 'age': 23, 'interests': ['books', 'movies'], 'is_adult': True}
{'_id': ObjectId('67779d2bc744306609d15437'), 'name': 'lisa', 'age': 30, 'interests': ['books', 'movies'], 'is_adult': True}
{'_id': ObjectId('67779d2bc744306609d15438'), 'name': 'john', 'age': 60, 'is_adult': True}
{'_id': ObjectId('67779d2bc744306609d1543a'), 'name': 'lisa', 'age': 23, 'interests': ['books', 'movies'], 'is_adult': True}
{'_id': ObjectId('67779d2bc744306609d1543b'), 'name': 'mike', 'age': 100, 'is_adult': True}
{'_id': ObjectId('67779dbcc744306609d1543d'), 'name': 'max', 'age': 35, 'is_adult': True}
{'_id': ObjectId('6777a5ebc744306609d1544b'), 'name': 'Sanjana', 'age': 50, 'city': 'New york', 'is_adult': True}
{'_id': ObjectId('6777a5f1c744306609d1544c'), 'name': 'Sanjana', 'age': 50, 'city': 'New york', 'is_adult': True}
{'_id': ObjectId('6777a69ec744306609d1544d'), 'name': 'Shivani', 'age': 16, 'city': 'Paris', 'is_adult': False}
{'_id': ObjectId('6777a69ec744306609d1544e'), 'name': 'Haritha', 'age': 40, 'city': 'chicago', 'is_adult': True}

In [71]:
#Handling MongoDB Errors in Python 

from pymongo.errors import (
    ServerSelectionTimeoutError, DuplicateKeyError, WriteError, OperationFailure,
    NetworkTimeout, BulkWriteError
)

def handle_mongo_operation(operation, *args, **kwargs):
    try:
        return operation(*args, **kwargs)
    except ServerSelectionTimeoutError:
        print("Error: Could not connect to MongoDB server.")
    except DuplicateKeyError:
        print("Error: Duplicate key detected.")
    except WriteError:
        print("Error: Issue with the write operation.")
    except OperationFailure:
        print("Error: Operation failed due to invalid syntax or other issues.")
    except NetworkTimeout:
        print("Error: Network timeout occurred.")
    except BulkWriteError as err:
        print("Error: Bulk write operation failed.")
        print("Details:", err.details)
    except Exception as err:
        print("An unexpected error occurred:", err)

# Example usage:
handle_mongo_operation(collection.insert_one, {"_id": 1, "name": "sanjana"})

Error: Duplicate key detected.

In [92]:
from pymongo import MongoClient

class work:
    def __init__(self):
       self.client=MongoClient('mongodb://localhost:27017')
       #specify the database and collections
       self.db=self.client['newdb']
       self.collection=self.db['people']
    def Insert(self,val):
        people.insert_one(val)
        print("was inserted.")
    def Catch_Id(self,val):
        #catching the id generator in mongodb for mike
        mike_id=people.insert_one(val).inserted_id
        print(mike_id)
    def Update(self,a,b):
        people.update_one({'_id':ObjectId(a)},{'$set':b})
    def delete(self,val):
        people.delete_many({'age':{'$lt':val}})
    def Total_age(self):
        pipeline = [
            {"$group": {"_id": "$city", "total_age": {"$sum": "$age"}}}
        ]
        result = collection.aggregate(pipeline)
        for doc in result:
            print(doc)
    def limit(self,val):
        pipeline=[
        {"$limit":val}
        ]
        result = collection.aggregate(pipeline)
        for doc in result:
            print(doc)
    def count(self):
        pipeline = [
        {"$group": {"_id": "$city", "count": {"$sum": 1}}} # $id here id is like to select the cloumn so here we are selecting the city column
        ]
        result = collection.aggregate(pipeline)
        for doc in result:
            print(doc)


                
obj=work()
#obj.Insert({'name':'MARIA','age':20})
#obj.Catch_Id({'name':'max','age':35})
#obj.Update('67779d2bc744306609d1543b',{'age':10})
#obj.delete(30)
#obj.Total_age()
#obj.limit(5)
obj.count()

{'_id': 'New york', 'count': 2}
{'_id': 'chicago', 'count': 1}
{'_id': None, 'count': 7}

In [96]:
from pymongo import MongoClient

#Connect to MONGODB

cilent=MongoClient('mongodb://localhost:27017')
#specify the database and collections
db=client['newdb']
collection=db['people']

print(client.list_database_names())

['admin', 'config', 'local', 'newdb']

In [98]:
dblist = client.list_database_names()
if "newdb" in dblist:
  print("The database exists.")

The database exists.

In [110]:
a = [10, 20]
b = a
b += [30, 40]
print(a)
print(b)

[10, 20, 30, 40]
[10, 20, 30, 40]