In [3]:
#regex
#findall()
import re

txt= "The rain in spain"
x= re.findall("rain",txt)
print(x)

['rain']

In [5]:
#regex
#findall()
import re

txt= "The rain in spain"
x= re.findall("Portugal",txt)
print(x)

[]

In [6]:
#regex
#findall()
import re

txt= "The rain in spain"
x= re.findall("rain",txt)

if x:
    print("Yes found the pattern")
else:
     print("NO found the pattern")

Yes found the pattern

In [23]:
#split
import re

txt= "The rain in spain"
x= re.split(r"\s", txt)
print(x)

['The', 'rain', 'in', 'spain']

In [22]:
#split
import re

txt= "The rain in spain"
x = re.split(r"\s", txt,2)
print(x)

['The', 'rain', 'in spain']

In [16]:
#sub()
import re

txt= "The rain in spain"
x= re.sub("The","There", txt)
print(x)

There rain in spain

In [37]:
import re

id_number = "MCALE16001"

Pattern = r'^MCALE[0-9]{2}[0-9]{3}$'

#Pattern = r'^MCALE16[0-9]{3}$'

#Pattern = r'^[A-Z]{4}[0-9]{2}[0-9]{3}$'

#check the pattern

if re.match(Pattern, id_number):
    print("Valid ID number")
else:
    print("Invalid ID number")

Valid ID number

In [57]:
import re 
email_id = "abc30@gmail.com"

#pattern= r'^[a-zA-z0-9]+@gmail\.[a-z]{2}$'
pattern = r'^[a-zA-Z0-9._%+-]+@gmail\.com$'

#pattern= r'^[a-zA-z0-9]@gmail+\.[a-z]{2}$'

#pattern= r'[^a-z][0-9]@gmail.[a-z]{3}$'


if re.match(pattern, email_id):
    print("vaild")
else:
    print("Invaild")

vaild

In [53]:
import re 
number= "3675 9834 6015"
#number= "0675 9834 6015"

pattern= r'^[1-9]{4}+\s[0-9]{4}+\s[0-9]{4}$'

if re.match(pattern, number):
    print("vaild")
else:
    print("Invaild")

vaild

In [73]:
import re 
number= "192.168.123.12"
#number= "1923.1648.13.14"


pattern= r'^[0-9]{3}\.[0-9]{3}\.[0-9]{1,}\.[0-9]{1,}$'

if re.match(pattern, number):
    print("vaild")
else:
    print("Invaild")

vaild

In [75]:
#
r=[1,2,3,4,5]
def area(a):
    return 3.14*a**2

l=[]
for i in r:
    x=area(i)
    l.append(x)
l

[3.14, 12.56, 28.26, 50.24, 78.5]

In [77]:
#
m=list(map(lambda a:3.14*a**2,r))
m

[3.14, 12.56, 28.26, 50.24, 78.5]

In [80]:
s=['apple','orange']

m=list(map(lambda a: a.upper(),s))
m

['APPLE', 'ORANGE']

In [82]:
#[30,33,28,24] °F = (°C × 9/5) + 32

c=[30,33,28,24] 
m=list(map(lambda s:(s*(9/5))+32),c)

TypeError: map() must have at least two arguments.

In [94]:
city=["apple","banana","cherry"]
for x in city: 
    print(x)

apple
banana
cherry

In [84]:
city=["","Chennai","","banglore","Pondichery","","velachery"]
list(filter(None,city))

['Chennai', 'banglore', 'Pondichery', 'velachery']

In [90]:
city=["Chennai","banglore","Pondichery","velachery","Goa"]
list(filter(lambda x: (len(x) > 3),city))

['Chennai', 'banglore', 'Pondichery', 'velachery']

In [102]:
city=["apple","banana","cherry"]
list(filter(lambda x:'a' in x ,city))

['apple', 'banana']

In [2]:
#extract digits from strings
#extract the digits from each string in the list
s = ["abc123","def456","ghi789"]
r=list(map(lambda x: ''.join(filter(str.isdigit, x)),s))
print(r)

['123', '456', '789']

In [26]:
import operator
from functools import reduce
s=['apple','orange']

m=reduce(lambda a: a.upper(),s)
m

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [28]:
x=hash('abc')
x

-5845027383682352298

In [30]:
import hashlib
print(hashlib.algorithms_available)
print(hashlib.algorithms_guaranteed)

{'sha512', 'sha512_256', 'sha3_384', 'shake_128', 'sm3', 'md5-sha1', 'shake_256', 'md5', 'sha3_224', 'sha384', 'blake2b', 'sha1', 'sha3_512', 'sha512_224', 'blake2s', 'ripemd160', 'sha3_256', 'sha224', 'sha256'}
{'blake2b', 'sha512', 'sha1', 'sha3_512', 'blake2s', 'sha3_384', 'shake_256', 'sha3_256', 'sha224', 'md5', 'shake_128', 'sha256', 'sha3_224', 'sha384'}

In [32]:
h=hashlib.new("sha256")
correct_pwd ="Mypass1234567"
h.update(correct_pwd.encode())
password_hash=h.hexdigest()
print(password_hash)

e8a4f4ac10635e4a5df9c890c2fbac89ea277b8d85c8cfee49f4abe924363c1e

In [33]:
name="Alice"
age=30
print("Name: %s, Age:%d"%(name,age))

Name: Alice, Age:30

In [35]:
name="Alice"
age=30
print("Name: {}, Age: {}".format(name,age))

Name: Alice, Age: 30

In [37]:
print("Name: {0}, Age: {1}".format(name,age))
print("Name: {name}, Age: {age}".format(name="Alice",age=30))

Name: Alice, Age: 30
Name: Alice, Age: 30

In [39]:
import math

pow(2,3)

8

In [44]:
import math

math.sqrt(16)

4.0

In [51]:
import math
math.isclose(1.233, 1.4566)
math.isclose(1.233, 1.233)
math.isclose(1, 1)

True

In [65]:
from datetime import datetime
now = datetime.now()
print(now)
type(now)

2024-12-30 13:51:07.358080

datetime.datetime

In [69]:
import os

a=os.getcwd()
print(type(a))
a

<class 'str'>

'c:\\Users\\shivanika.x\\Downloads\\Python'

In [70]:
print(os.listdir())

['day 02.ipynb', 'day01.ipynb', 'day03.ipynb']

In [72]:
print(os.stat('day03.ipynb'))

os.stat_result(st_mode=33206, st_ino=4222124652664658, st_dev=15026420318343368728, st_nlink=1, st_uid=0, st_gid=0, st_size=17379, st_atime=1735547591, st_mtime=1735547591, st_ctime=1735530907)

In [127]:
# random() It is float between 1 t0 100
#randint() It is used to get a whole number 
#shuffel
# To create a password generator
#Length 8
#atleast 4 alphabets
#atleast 2 numbers
# atleast 2 special

import random
import string

a=string.ascii_letters
b=random.choices(a,k=4)


special_char= string.punctuation
sc= random.choices(special_char,k=2)

num=string.digits
n=random.choices(num,k=2)
x= ''.join(b+sc+n)


b
sc
n
x

'KlTW[/57'

In [74]:
import random
random.random()

0.1174204221066133

In [75]:
random.randint(1,51)

6

In [98]:
random.randrange(0,100,3)

21

In [100]:
random.randrange(0,100,10)

90

In [102]:
random.choice('computer')

'e'

In [108]:
n=('a','b','c')
random.choice(n)

'a'

In [110]:
n=[12,3,4,21,5]
random.shuffle(n)
n

[5, 3, 4, 12, 21]

In [131]:
#With submodule
from abc1.test_a import add
from abc1.test_b import sub

print(add(5,5))
print(sub(10,5))

10
5

In [139]:
# Import statistics Library
import statistics 

# Calculate average values
# Mean = add up all the given values, then divide by how many values there are.
print("MEAN: ",statistics.mean([1, 3, 5, 7, 9, 11, 13]))

# Calculate middle values
#The statistics.median() method calculates the median (middle value) of the given data set. This method also sorts the data in ascending order before calculating the median.
#Note: If the number of data values is odd, it returns the exact middle value. If the number of data values is even, it returns the average of the two middle values.
print("MEDIAN: ",statistics.median([1, 3, 5, 7, 9, 11, 13]))
print("MEDIAN: ",statistics.median([1, 3, 5, 7, 9, 11]))

# Calculate the mode
#The statistics.mode() method calculates the mode (central tendency) of the given numeric or nominal data set.
print("MODE: ",statistics.mode([1, 3, 3, 3, 5, 7, 7, 9, 11]))
print("MODE: ",statistics.mode([1, 1, 3, -5, 7, -9, 11]))
print("MODE: ",statistics.mode(['red', 'green', 'blue', 'red']))

MEAN:  7
MEDIAN:  7
MEDIAN:  6.0
MODE:  3
MODE:  1
MODE:  red

In [141]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\shivanika.x\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\shivanika.x\appdata\roaming\python\python312\site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shivanika.x\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\shivanika.x\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\shivanika.x\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\shivanika.x\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [142]:
#Nested list of numbers
n=[[1,2,3],[4,5,6],[7,8,9]]
squared_evens=[[(lambda x: x**2)(num) for num in sublist if num%2==0]for sublist in n]
squared_evens

[[4], [16, 36], [64]]

In [153]:

m=[i for i in range(0,1001,7)]
m

[0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

In [155]:
m=[i for i in range(0,100) if '3'in str(i)]
m

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]

In [175]:
#count the numbers of spaces in string
c="The rain in spain"

m=[1 for i in c if " " in str(i)]
len(m)

3

In [183]:
s="Yellow Yaks like yelling and yawing and yesterday they yodled while eating yuky yams"

m=[i for i in s if i not in "aeiou" ]


m

['Y',
 'l',
 'l',
 'w',
 ' ',
 'Y',
 'k',
 's',
 ' ',
 'l',
 'k',
 ' ',
 'y',
 'l',
 'l',
 'n',
 'g',
 ' ',
 'n',
 'd',
 ' ',
 'y',
 'w',
 'n',
 'g',
 ' ',
 'n',
 'd',
 ' ',
 'y',
 's',
 't',
 'r',
 'd',
 'y',
 ' ',
 't',
 'h',
 'y',
 ' ',
 'y',
 'd',
 'l',
 'd',
 ' ',
 'w',
 'h',
 'l',
 ' ',
 't',
 'n',
 'g',
 ' ',
 'y',
 'k',
 'y',
 ' ',
 'y',
 'm',
 's']

In [190]:
#get
l=["hi",4,8.99,'apple',('t,b','n')]
m=[(index,item) for index,item  in enumerate(l)]
m

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t,b', 'n'))]

In [192]:
l_a=[1,2,3,4]
l_b=[2,3,4,5]
l=[]
m=[i for i in l_a if i in l_b ]
m

[2, 3, 4]

In [198]:
s="there were 1000 people attending"
m=[ i for i in s if i.isdigit()]
m

['1', '0', '0', '0']

In [210]:
n=range(20)
s= ["even"  if x%2==0 else "odd" for x in range(20)]

s

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd']

In [231]:
a=[1,2,3,4,5,6,7,8,9]
b=[2,7,1,12]
m=[(i,x) for i in a for x in b if (i==x) ]
m

[(1, 1), (2, 2), (7, 7)]

In [234]:
s="Yellow Yaks like yelling and yawing and yesterday they yodled while eating yuky yams"

x=s.split()
print(x)

m=[i for i in x  if len(i)<4 ]
m

['Yellow', 'Yaks', 'like', 'yelling', 'and', 'yawing', 'and', 'yesterday', 'they', 'yodled', 'while', 'eating', 'yuky', 'yams']

['and', 'and']

In [241]:

m=[x for i in range(2,10) for x in range(1,1001) if x%i==0]
m

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998,
 1000,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99,
 102,
 105,
 108,
 111,
 114,
 117,
 120,
 123,
 126,
 129,
 132,
 135,
 138,
 141,
 144,
 147,
 150,
 153,
 156,
 159,
 162,
 165,
 168,
 171,
 174,
 177,
 180,
 183,
 186,
 189,
 192,
 195,
 198,
 201,
 204,
 207,
 210,
 213,
 216,
 219,
 222,
 225,
 228,
 231,
 234,
 237,
 240,
 243,
 246,
 249,
 252,
 255,
 258,
 261,
 264,
 267,
 270,
 273,
 276,
 279,
 282,
 285,
 288,
 291,
 294,
 297,
 300,
 303,
 306,
 309,
 312,
 315,
 318,
 321,
 324,
 327,
 330,
 333,
 336,
 339,
 342,
 345,
 348,
 351,
 354,
 357,
 360,
 363,
 366,
 369,
 372,
 375,
 378,
 381,
 384,
 387,
 390,
 393,
 396,
 399,
 402,
 405,
 408,
 411,
 414,
 417,
 420,
 423,
 426,
 429,
 432,
 435,
 438,
 441,
 444,
 447,
 450,
 453,
 456,
 459,
 462,
 465,
 468,
 471,
 474,
 477,
 480,
 483,
 486,
 489,
 492,
 495,
 498,
 501,
 504,
 507,
 510,
 513,
 516,
 519,
 522,
 525,
 528,
 531,
 534,
 537,
 540,
 543,
 546,
 549,
 552,
 555,
 558,
 561,
 564,
 567,
 570,
 573,
 576,
 579,
 582,
 585,
 588,
 591,
 594,
 597,
 600,
 603,
 606,
 609,
 612,
 615,
 618,
 621,
 624,
 627,
 630,
 633,
 636,
 639,
 642,
 645,
 648,
 651,
 654,
 657,
 660,
 663,
 666,
 669,
 672,
 675,
 678,
 681,
 684,
 687,
 690,
 693,
 696,
 699,
 702,
 705,
 708,
 711,
 714,
 717,
 720,
 723,
 726,
 729,
 732,
 735,
 738,
 741,
 744,
 747,
 750,
 753,
 756,
 759,
 762,
 765,
 768,
 771,
 774,
 777,
 780,
 783,
 786,
 789,
 792,
 795,
 798,
 801,
 804,
 807,
 810,
 813,
 816,
 819,
 822,
 825,
 828,
 831,
 834,
 837,
 840,
 843,
 846,
 849,
 852,
 855,
 858,
 861,
 864,
 867,
 870,
 873,
 876,
 879,
 882,
 885,
 888,
 891,
 894,
 897,
 900,
 903,
 906,
 909,
 912,
 915,
 918,
 921,
 924,
 927,
 930,
 933,
 936,
 939,
 942,
 945,
 948,
 951,
 954,
 957,
 960,
 963,
 966,
 969,
 972,
 975,
 978,
 981,
 984,
 987,
 990,
 993,
 996,
 999,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100,
 104,
 108,
 112,
 116,
 120,
 124,
 128,
 132,
 136,
 140,
 144,
 148,
 152,
 156,
 160,
 164,
 168,
 172,
 176,
 180,
 184,
 188,
 192,
 196,
 200,
 204,
 208,
 212,
 216,
 220,
 224,
 228,
 232,
 236,
 240,
 244,
 248,
 252,
 256,
 260,
 264,
 268,
 272,
 276,
 280,
 284,
 288,
 292,
 296,
 300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396,
 400,
 404,
 408,
 412,
 416,
 420,
 424,
 428,
 432,
 436,
 440,
 444,
 448,
 452,
 456,
 460,
 464,
 468,
 472,
 476,
 480,
 484,
 488,
 492,
 496,
 500,
 504,
 508,
 512,
 516,
 520,
 524,
 528,
 532,
 536,
 540,
 544,
 548,
 552,
 556,
 560,
 564,
 568,
 572,
 576,
 580,
 584,
 588,
 592,
 596,
 600,
 604,
 608,
 612,
 616,
 620,
 624,
 628,
 632,
 636,
 640,
 644,
 648,
 652,
 656,
 660,
 664,
 668,
 ...]

In [255]:
data={'name':'Alice','city':'New york'}
m={k.upper():v for k,v in data.items() }
m

{'NAME': 'Alice', 'CITY': 'New york'}

In [258]:
data={'a':1,'b':2,'c':3}
m={k:v for k,v in data.items() if v%2==0 }
m

{'b': 2}

In [278]:
c={'mumbai':36.5,'delhi':27.6,'chennai':33}
m={((9/5)*v)+32 for v in c.values() }
m

{81.68, 91.4, 97.7}

In [280]:
d1={'a':2, 'b':3,'c':4}
d2={'a':5, 'b':6,'c':7}
m = {k1: v1 * d2[k1] for k1, v1 in d1.items() if k1 in d2}
#m={ v1*v2 for k1,v1 in d1.items() for k2,v2 in d2.items() if k1==k2  }
m

{'a': 10, 'b': 18, 'c': 28}

In [284]:
d1={'a':2, 'b':3,'c':4}
d2={'a':5, 'b':6,'c':7}
for k1, v1 in d1.items():
    if k1 in d2:
        print(k1)
        print(d2)
        print(d1)

a
{'a': 5, 'b': 6, 'c': 7}
{'a': 2, 'b': 3, 'c': 4}
b
{'a': 5, 'b': 6, 'c': 7}
{'a': 2, 'b': 3, 'c': 4}
c
{'a': 5, 'b': 6, 'c': 7}
{'a': 2, 'b': 3, 'c': 4}