In [1]:
print("Hi")

Hi

In [2]:
a=10
b=4.4
c='e'

type(b)

float

In [3]:
print('Value of A: ', a)

Value of A:  10

In [4]:
print(1,2,3,4,5,6, sep='?')

1?2?3?4?5?6

In [5]:
print(1,2,3,4,5, sep=',',end='?')
print()
print('hello')

1,2,3,4,5?
hello

In [6]:
#input
a=input("Enter a value")
print(a)

hi

In [7]:
n=int(input('Enter: '))
print(n)
print(type(n))

ValueError: invalid literal for int() with base 10: ''

In [29]:
n=float(input('Enter: '))
print(n)
print(type(n))

12.0
<class 'float'>

In [30]:
a=10
s=str(a)
print(type(s))

<class 'str'>

In [32]:
print(bool(3),bool(-3),bool(0))

True True False

In [34]:
# whatever the if have it will excute
a=5
b=8
if -4:
    print("a is smaller")

a is smaller

In [39]:
a=int(input())
if a>0:
    print("greater than zero")
elif a<0:
    print("NEGATIVE")
elif a==0:
    print("It's a zero")
else:
    print("positive")

greater than zero

In [42]:
for i in range(1,5):
    for j in range(1,5):
        print(i*j,end=' ')
    print()

1 2 3 4
2 4 6 8
3 6 9 12
4 8 12 16

In [44]:
#It will print 3 times and 
for i in range(3,6):
    print("Hello")
else:
    print("end")

Hello
Hello
Hello
end

In [ ]:
a=input()

for i in a:

   if a == 'a'  or a == 'e'  or a == 'i'  or a == 'o'  or a == 'i':
      print("vowel", i)
   else:
      print("consonant")

In [ ]:
v=0
c=0
for i in 'python':
    if i in 'aeiouAEIOU':
        v=v+1
    else:
        c=c+1
print(v,c)

KeyboardInterrupt: Interrupted by user

In [54]:
v=0
c=0
for i in 'python':
    if i in 'aeiouAEIOU':
        v=v+1
    else:
        c=c+1
print(v,c)

1 5

In [55]:
#Data structures OR Data types

In [58]:
x1=[1,2,3,2,2,2,3,4]
print(x1)
x2=[n for i in x1 if n == 2]
print(x2)
x3=[n for i in x1 if n != 2]
print(x3)

[1, 2, 3, 2, 2, 2, 3, 4]
[]
[12.0, 12.0, 12.0, 12.0, 12.0, 12.0, 12.0, 12.0]

In [71]:
a= 0
b = 1
l=[]
for _ in range(5):
    print(a, end=" ")
    a, b = b, a + b


for i in range(5):
    l.append()
    a=a+i

0 1 1 2 3

In [76]:
li=[]
for i in range(5):
    n=input('enter value: ')
    li.append(n)
print(li)

KeyboardInterrupt: Interrupted by user

In [80]:
import copy
l=[1,2,3]
m=copy.copy(l) #shallo copy
m.append(11)
print(l)
print(m)

[1, 2, 3]
[1, 2, 3, 11]

In [82]:
import copy
l=[1,2,3,[23,24,25]]
m=copy.deepcopy(l)
m[3][0]=999
print(l)
print(m)

[1, 2, 3, [23, 24, 25]]
[1, 2, 3, [999, 24, 25]]

In [89]:
l=[1000,2000,3000]
r=10
n=1
s=[]
for i in l:
    si=(i*r*n)/100
    s.append(si+i)
print(s)

[1100.0, 2200.0, 3300.0]

In [99]:
a="welcome home"
b=a.split(' ')
print(b)

['welcome', 'home']

In [102]:
s=' '.join(b)
s

'welcome home'

In [104]:
#dict{}
#keys cannot be duplicate but values can be duplicate. Clear()-It will remove all the items
d1={'name':'abc', 'age':12,'address':'Chennai','name':'shivanika'}
d1

{'name': 'shivanika', 'age': 12, 'address': 'Chennai'}

In [107]:
#user-dict

a={}
for i in range(3):
    k=input("K:")
    v=input("V:")
    a[k]=v
a
a.items()

dict_items([('name', 'shivani'), ('age', '22'), ('address', 'chennai')])

In [109]:
a.items()

dict_items([('name', 'shivani'), ('age', '22'), ('address', 'chennai')])

In [112]:
a.values()

dict_values(['shivani', '22', 'chennai'])

In [114]:
l1=["name","age","address"]
l2=["shivanika","22","chennai"]
d={}
for i in range(len(l1)):
    d[l1[i]]=l2[i]
d

{'name': 'shivanika', 'age': '22', 'address': 'chennai'}

In [116]:
l1=["name","age","address"]
l2=["shivanika","22","chennai"]
d1=dict(zip(l1,l2))

d1

{'name': 'shivanika', 'age': '22', 'address': 'chennai'}

In [118]:
#nested dictionary
s={1:{'name': 'shivani','age': '22', 'address': 'chennai'},2:{'name': 'sanjana','age': '80', 'address': 'chennai'}}
s

{1: {'name': 'shivani', 'age': '22', 'address': 'chennai'},
 2: {'name': 'sanjana', 'age': '80', 'address': 'chennai'}}

In [120]:
s[3]={'name': 'Haritha','age': '50', 'address': 'chennai'}
s

{1: {'name': 'shivani', 'age': '22', 'address': 'chennai'},
 2: {'name': 'sanjana', 'age': '80', 'address': 'chennai'},
 3: {'name': 'Haritha', 'age': '50', 'address': 'chennai'}}

In [122]:
del s[3]

KeyError: 3

In [124]:
s

{1: {'name': 'shivani', 'age': '22', 'address': 'chennai'},
 2: {'name': 'sanjana', 'age': '80', 'address': 'chennai'}}

In [127]:
d={}
l=['abc','name','apple','today','dog']
for i in range(len(l)):
    d[l[i]]=len(l[i])
d

{'abc': 3, 'name': 4, 'apple': 5, 'today': 5, 'dog': 3}

In [131]:
l=['abc','name','apple','today','dog']
d={x:len(x) for x in l}
d

{'abc': 3, 'name': 4, 'apple': 5, 'today': 5, 'dog': 3}

In [137]:
l=['abc','name','apple','today','dog','a','b','c','d']
d={x:len(x) for x in l if len(x)>3}
d

{'name': 4, 'apple': 5, 'today': 5}

In [140]:
#append
l=[1,2,3]
l.append(4)
l

[1, 2, 3, 4]

In [142]:
#Insert
l=[1,2,3]
l.insert(0,3)
l

[3, 1, 2, 3]

In [145]:
#remove
l=[1,2,5]
l.remove(5)
l

[1, 2]

In [147]:
#sort
l=[3,5,7,1,2]
l.sort()
l

[1, 2, 3, 5, 7]

In [149]:
#extend
l=[1,2,3]
l.extend([4,5,6])
l

[1, 2, 3, 4, 5, 6]

In [152]:
#POP
l=[3,5,7,1,2]
l.pop(3)

l

[3, 5, 7, 2]

In [154]:
#reverse
l=[3,5,7,1,2]
l.reverse()
l

[2, 1, 7, 5, 3]

In [157]:
#Clear
l=[3,5,7,1,2]
l.clear()
l

[]

In [163]:
#count
l=[3,4,1,1,3,3,3,5,7,1,2]
a=l.count(3)
a

4

In [171]:
#min
l=[3,4,1,1,3,3,3,5,7,1,2]
m=min(l)
m

1

In [173]:
# max
l=[3,4,1,1,3,3,3,5,7,1,2]
m=max(l)
m

7

In [176]:
#copy
import copy
l=[1,2,3]
m=copy.copy(l)
m

[1, 2, 3]

In [179]:
x=['a','b','c']
y=x.index("a")
y

0

In [1]:
#
n=int(input())
for i in range(1,11):
    print(str(i)+" X "+str(n)+" =" ,i*n)

1 X 3 = 3
2 X 3 = 6
3 X 3 = 9
4 X 3 = 12
5 X 3 = 15
6 X 3 = 18
7 X 3 = 21
8 X 3 = 24
9 X 3 = 27
10 X 3 = 30

In [191]:
# count
u=0
l=0
s='Helllo WELcoMe To python'
for i in s:
    if i.isupper():
        u=u+1
    elif i == " ":
        continue
    else:
        l=l+1
print(l)
print(u)

15
6

In [203]:
d={}
l=['apple','apple','grape','orange','pear','grape','orange','apple']
for i in l:
       d[i]=l.count(i)
d

{'apple': 3, 'grape': 2, 'orange': 2, 'pear': 1}

In [211]:
#Uppercase Letters (A-Z): ASCII values range from 65 to 90.

#Lowercase Letters (a-z): ASCII values range from 97 to 122.

d={}
for i in range(65,91):
    d[chr(i)] = i

d

{'A': 65,
 'B': 66,
 'C': 67,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75,
 'L': 76,
 'M': 77,
 'N': 78,
 'O': 79,
 'P': 80,
 'Q': 81,
 'R': 82,
 'S': 83,
 'T': 84,
 'U': 85,
 'V': 86,
 'W': 87,
 'X': 88,
 'Y': 89,
 'Z': 90}

In [210]:
import string
d={}
r=string.ascii_uppercase
for i in r:
    d[i] = ord(i)
d

{'A': 65,
 'B': 66,
 'C': 67,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75,
 'L': 76,
 'M': 77,
 'N': 78,
 'O': 79,
 'P': 80,
 'Q': 81,
 'R': 82,
 'S': 83,
 'T': 84,
 'U': 85,
 'V': 86,
 'W': 87,
 'X': 88,
 'Y': 89,
 'Z': 90}

In [215]:
name=['Nikhil','Anand','Shiva','Maga','ram']
pr=[1000,2000,6000,10000,2500]
year=[2,5,4,3,2.5]
rt=[8,7,7.5,9,6.6]
si=[]
for i in range(len(name)):
    s=(pr[i]* rt[i]*year[i])/100
    si.append(s)
for j in range(len(name)):
    print("name ", name[j],"invested",pr[j]," got a return of ", si[j])

name  Nikhil invested 1000  got a return of  160.0
name  Anand invested 2000  got a return of  700.0
name  Shiva invested 6000  got a return of  1800.0
name  Maga invested 10000  got a return of  2700.0
name  ram invested 2500  got a return of  412.5

In [238]:
name=['Nikhil','Anand','Shiva','Maga','ram']
pr=[1000,2000,6000,10000,2500]
year=[2,5,4,3,2.5]
rt=[8,7,7.5,9,6.6]
for i in range(len(name)):
    a=pr[i]*(1+(rt[i]/100))**year[i]
    c=a-pr[i]
    si.append(c)
    print("name ", name[i],"invested",pr[i]," got a return of ", si[i])

name  Nikhil invested 1000  got a return of  160.0
name  Anand invested 2000  got a return of  700.0
name  Shiva invested 6000  got a return of  1800.0
name  Maga invested 10000  got a return of  2700.0
name  ram invested 2500  got a return of  412.5

In [239]:
s='my name is abc'

r=' '.join(s.split()[::-1])

r

'abc is name my'

In [241]:
s='my name is abc'

r1=s[::-1]

r1

'cba si eman ym'

In [242]:
d={'abc':20,'xyz':40,'pqr':5}
d1={}

for x in sorted(d,key=d.get):
    d1[x] = d[x]
print(d1)

{'pqr': 5, 'abc': 20, 'xyz': 40}

In [273]:
#a,ab,abc,abcd
a='abcd'
for i in range(len(a)):
    for j in range(len(a)):
        print(a[i:j+1])

a
ab
abc
abcd

b
bc
bcd


c
cd



d

In [286]:
l=[1,-2,3,-1]
p=[]
n=[]
for i in l:
    if i<0:
       p.append(i)
    if i>0:
       n.append(i)
print(n)
print(p)

[1, 3]
[-2, -1]

In [288]:
l=[1,-2,3,-1]
max(l)

3

In [291]:
l=[1,2,4,1]
e=0
for i in l:
    if i%2==0:
        e=e+i
e

6

In [300]:

l=[1,2,3,4]
for i in range(len(l)-1,-1,-1):
    print(l[i])

4
3
2
1

In [297]:
# 
l=[]
for i in range(1,51):
    if i%3==0 or i%6==0:
        l.append(i)
l

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [301]:
l=[]
for i in range(1,21):
    l.append(i)
    for j in l:
        if j%3==0:
            l.remove(j)
l

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20]