In [1]:
def digi(n):
    num=abs(n)
    return sum(int(i) for i in str(num))
o=digi(1234)
print(o)

10

In [ ]:
txt = "Hello, wlcome to my world."
x = txt.find("e", 5, 10)
print(x)

In [ ]:
txt = "Hello, wlcome to my world."
x = txt.index("e", 5, 10)
print(x)

In [2]:
print('Hello, world!');print("H")

Hello, world!
H

In [3]:
pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo in c:\users\shivanika.x\appdata\roaming\python\python312\site-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\shivanika.x\appdata\roaming\python\python312\site-packages (from pymongo) (2.7.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
import pymongo

client=pymongo.MongoClient("mongodb://localhost:27017")
mydb=client["books"]
author=mydb["authors"]
author_record ={'name':'bob', 'title' : 'Programming'}
author_id=author.insert_one(author_record)
print(author_id)


res=author.find_one()

print(res)


"pym_ex2.py"

InsertOneResult(ObjectId('6786221be75ef6c482a4a8d6'), acknowledged=True)
{'_id': ObjectId('67862067e75ef6c482a4a8d0'), 'name': 'bob', 'title': 'Programming'}

'pym_ex2.py'

In [10]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [12]:
x='a'
y='b'
print(x)
print(y)

a
b

In [13]:
b=5//2
b

2

In [14]:
l=['b','o','k','c']
l.sort(key=str.lower)
print(l)
l.reverse()
print(l)

['b', 'c', 'k', 'o']
['o', 'k', 'c', 'b']

In [20]:
x = 'abcd'
for i in range(len(x)):  
      print(x)  
      x = 'a'

abcd
a
a
a

In [40]:
s1={'a','b','c'}
s2={'g','af'}
s1|s2
s3=s1.union(s2)
s1.isdisjoint(s2)

True

In [22]:
s1 & s2

{'a'}

In [24]:
s1.intersection_update(s2)
s1

{'a'}

In [27]:
s1.isdisjoint(s2)

False

In [42]:
s1={'a','b','c'}
s2={'ah','lb','cl'}

s1.isdisjoint(s2)

True

In [43]:
s1={'a','b','c'}
s2={'a','b','c'}

s1.isdisjoint(s2)

False

In [44]:
s1={'a','b','c'}
s2={'a','b','c'}

s1.issubset(s2)

True

In [45]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [49]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
x

'Mustang'

In [51]:
thisdict = [
  "brand", "Ford",
]
x = thisdict[0]
x

'brand'

In [52]:
thisdict = (
  "brand", "Ford",
)
x = thisdict[0]
x

'brand'

In [56]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
x1=thisdict.keys()
x1

dict_keys(['brand', 'model', 'year'])

In [57]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [58]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [60]:
x = thisdict.items()
x

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [62]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
    x=thisdict.get("model")
x

'Mustang'

In [63]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["year"] = 2018

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [68]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [69]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [70]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [71]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop()
print(thisdict)

TypeError: pop expected at least 1 argument, got 0

In [72]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [73]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [74]:
for x in thisdict:
  print(x)

brand
year

In [75]:
for x in thisdict:
  print(thisdict[x])

Ford
1964

In [77]:
for x in thisdict.keys():
  print(x)

brand
year

In [78]:
for x in thisdict.values():
  print(x)

Ford
1964

In [79]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
year 1964

In [81]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [82]:
print(myfamily["child2"]["name"])

Tobias

In [85]:
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

In [88]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [93]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "year")

print(x)

Mustang

In [98]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car)

x = car.setdefault("color", "white")

print(x)
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
white
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [104]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [106]:
i = 0
while i < 6:
  i += 1
  if i == 1:
    continue
  print(i)

2
3
4
5
6

In [108]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print(i," is no longer less than 6")

1
2
3
4
5
6  is no longer less than 6

In [109]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [110]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [116]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
    print(x)

In [119]:
for x in range(2, 10, 2):
  print(x)

2
4
6
8

In [122]:
for x in range(6):
   print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [123]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [124]:
for i in range(5):
    print(i)
else:
    print("over")

0
1
2
3
4
over

In [134]:
i=["gg"]
for s in i:
    if s == "xg":
     print(i)
else:
    print("over")

over

In [137]:
i=["gg"]
for s in i:
    if s == "gg":
     print(s)
else:
    print("over")

gg
over

In [129]:
i = ["gg"]
for s in i:
    raise Exception("Loop failed")  # Loop is terminated by an exception
    print(s)
else:
    print("over")  # This will not be printed

SyntaxError: cannot assign to literal (1993064530.py, line 2)

In [141]:
set1 = {1, 2, 3} 
set2 = set1.add(4) 
print(set2)

None

In [142]:
set1 = {1, 2, 3} 
set1.add(4) 
set2=set1.copy()
print(set2)

{1, 2, 3, 4}

In [139]:
set1 = {1, 2, 3} 
set2 = set1.copy() 
set2.add(4) 
print(set1)

{1, 2, 3}

In [1]:
s1={1,2,3,4}
s2={3,4.0,'2'}
s1.issubset(s2)
s1.issuperset(s2)
s1.isdisjoint(s2)

False

In [150]:
set_1.issuperset(set_2)

False

In [151]:
set_1.isdisjoint(set_2)

False

In [4]:
x={'a'}
y={'b','c','a'}
x.issubset(y)
x.issuperset(y)

False

In [7]:
x={'b','c','a'}
y={'a'}
y.issubset(x)

True

In [5]:
x={'s'}
y={'b','c','a'}
x.isdisjoint(y)

True

In [15]:
import re

txt = "The rain in Spain"
x = re.search(r"\s", txt)  # Use raw string to avoid escape sequence issues

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [16]:
import re

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

In [18]:
round(1.4)

1

In [20]:
import math
x = math.ceil(1.4)
x

2

In [21]:
import math
x = math.floor(1.4)
x

1

In [23]:
try:
  print(z)
except:
  print("An exception occurred")

An exception occurred

In [26]:
try:
  print(z)
except NameError:
  print("Variable z is not defined")
except:
  print("Something else went wrong")

Variable z is not defined

In [35]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [34]:
try:
  print(z)
except:
  print("Something went wrong")
  
else:
  print("The 'try except' is finished")

Something went wrong

In [32]:
x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

In [38]:
x = 50
def func():
    print('x is', x)
    
    print('Changed global x to', x)
func()
print('Value of x is', x)

x is 50
Changed global x to 50
Value of x is 50

In [39]:
def say(message, times = 1):
    print(message * times)
say('Hello')
say('World', 5)

Hello
WorldWorldWorldWorldWorld